<div class="col-md-6">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
      <div *ngIf="submitted && editForm.controls.firstName.errors" class="error">
        <small class="text-danger" *ngIf="editForm.controls.firstName.errors.required">First Name is required</small>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
      <div *ngIf="submitted && editForm.controls.lastName.errors" class="error">
        <small class="text-danger" *ngIf="editForm.controls.lastName.errors.required">Last Name is required</small>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
      <div *ngIf="submitted && editForm.controls.email.errors" class="error">
        <small class="text-danger" *ngIf="editForm.controls.email.errors.required">Email is required</small>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">phone Number:</label>
      <input type="tel" pattern ="^\d{10}$" formControlName="phoneNumber" placeholder="phone Number" name="phoneNumber" class="form-control" id="email">
      <div *ngIf="submitted && editForm.controls.phoneNumber.errors" class="error">
        <small class="text-danger" *ngIf="editForm.controls.phoneNumber.errors.required">Phone Number is required</small>
        <small class="text-danger" *ngIf="editForm.controls.phoneNumber.errors.pattern">Phone number must be 10 digits</small>
      </div>
    </div>
    <button class="btn btn-success">Update</button>
  </form>
</div>
